body{
	background: #cccccc;
}
div#wrapper{
	height:'800';
	clear:'right';

	}
div#moving 
{ 
height: 'auto';
background:#98bf21;
position:absolute;
clear:'right';

}
div#footer
{
   display: none;
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
#lifes{
	color:#0000FF;
}
#score
{
	color:#8B008B;
}